.form{
    width: auto;
    height: 100%;
   
}
.form-wrapper  {
    position: relative;
    left: 45%;
    top: 300px;
    margin: 0 0 15px 0;
}

.form-wrapper input{
    border-radius: 5px;
    padding: 2.5px 0 2.5px 10px;
    border: 1px solid rgb(0, 0, 0);
}
 .form-wrapper input:focus{
    border-radius: 5px;
    
   
}
.form-wrapper label{
    position: relative;
    right: 200px;
    transition: 0.2s;
}
.form-wrapper input:focus + label,
.form-wrapper input:not(:placeholder-shown) + label{
    font-size: 15px;
    position: relative;
    bottom:15px;
    background-color: white;
    color:rgb(81, 81, 213);
}


